{% extends 'main/layout.html' %}

{% block title %}Каталог профессий{% endblock %}

{% block content %}
    <div class="features">
        <h1>Каталог профессий</h1>
        <p>Здесь представлен широкий выбор профессий для изучения</p>
        {% if profs %}
            {% for el in profs %}
                <div class="alert alert-dark">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="" class="btn btn-primary">Поговорить со специалистом</a>
                    <a href="{% url 'newapp-detail' el.id %}" class="btn btn-secondary">Подробнее</a>
                </div>
            {% endfor %}
        {% else %}
        <p>Список пуст</p>
        {% endif %}

        {# comments #}
    </div>
{% endblock %}