body {
    background: #80a8f1;
}

aside {
    float: left;
    background: lightblue;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: black;
    border-right: 5px solid #000263;
}
aside img {
    width: 80px;
    float: left;
    margin-left: -15px;
}
aside .logo {
    font-size: 20px;
    margin-left: 70px;
    font-weight: bold;
    position: relative;
    top: -35px;
}

aside h3 {
    font-size: 20px;
}

aside ul {list-style: none}
aside ul li {
    color: black;
    display: block;
    margin-top: 20px;
    margin-left: -30px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #000263;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    margin-top: 10px;
    text-align: left;
    width: 75%;
}

main .features h1 {font-size: 40px; margin-left: 30px}
main .features p {max-width: 800px; margin-left: 30px}
main .features a {margin-left: 30px}

.alert-warning {
    float: left;
    margin: 20px;
}